<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">NasserZon</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/SmartPhone">SmartPhone</a></li>
                    <li><a href="/Desktop">Desktop</a></li>
                    <li><a href="/Laptop">Laptop</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="/Search" method="GET">
                    <div class="form-group">
                        <input type="text" name="keyword" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <a class="btn navbar-right">Logout</a>
                <a class="btn navbar-right">Login</a>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container input-group">
            <h3> New Product<span class="label label-default"></span></h3>
            <br />
            
            <div class="row">
              <div class="col-md-6">  
            <form method="post" action="/Add">
                    <label  for="name">Name</label>
                    <br />
                    <input class= "form-control" width="50%" type="text" name="name" placeholder="name"/>
                    <br />
                    <br />
                    <label  for="desc">Description</label>
                    <br />
                    <textarea class= "form-control" width="50%" name="desc" placeholder="description" ></textarea>
                    <br />
                    <br />
                    <label  for="price">Price</label>
                    <br />
                    <input type="text" name="price" width="50%" class= "form-control" placeholder="price"/>
                    <br />
                    <br />
                    <label  for="ptype">Categorey</label>
                    <br />
                    <select name="ptype">
                    <option value="0" SELECTED> Select
                    {% for x in ptypes %}
                    
                <option value="{{ x.id }}">{{ x.name }}</option>
                {% endfor %}
            </select>
                    </br>
                    </br>
                    <input class="btn btn-default" type="submit" value="Add" />
                </form>
            </div>
            </div>
    </div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>