<html>
    <head></head>
    <Body>
        <h1>{{restaurant.name}}</h1>
        <a href='{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>Create new Item</a>
        <br />
        <br />
        <br />
        {% for i in  %}
        {{i.name}}
        <br/>
        {{i.desc}}
        <br/>
        {{i.price}}
        <br/>
        <a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a>
        <br />
        <br />
        <br />
        {% endfor %}

    </Body>
</html>